<div class="row">
  <div class="span4">
	<div id="message"></div>
	<%= form_for(@subscribe, :url => subscribe_create_path, :remote => true) do |f| %>
	  <%= f.text_field :email, :class => 'span3', :placeholder => "Subscription E-Mail" %> 
	  <br />
	  <%= f.submit nil, :class => 'btn btn-success' %>
	<% end %>  	
  </div>
</div>