<!DOCTYPE html>
<html>
<head>
  <title>Subscriber</title>
  <%= stylesheet_link_tag    "subscriber/application", :media => "all" %>
  <%= javascript_include_tag "subscriber/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
